
@model List<rojan1.Models.staff>
@{
    ViewBag.Title = "create";
}
<style>
    form {
        display: flex;
        flex-direction: column;
    }

    .btn {
        background-color: black;
        color: white;
    }

        .btn:hover {
            background-color: gray;
        }
</style>

<h1>create</h1>
<form action="SaveData">
    <label class="col-md-2">Name</label>
    <div class="col-md-4">
        <input type="text" name="name" class="form-control" />
    </div>
    <label class="col-md-2">Address</label>
    <div class="col-md-4">
        <input type="text" name="address" class="form-control" />
    </div>
    <label class="col-md-2">contact</label>
    <div class="col-md-4">
        <input type="text" name="contact" class="form-control" />
    </div><br /><br />
    <button class="btn">ADD</button>
</form>



